@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,900&display=swap");
html {
  box-sizing: border-box;
}

body {
  background-color: #FEFCF7;
  font-family: "Barlow", sans-serif;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 848px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 607px) {
  .container {
    max-width: 375px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
#main-header {
  padding: 44px 0;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  width: 245px;
}

.main-header__list {
  display: flex;
}

.main-header__link {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.main-header__item + .main-header__item {
  padding-left: 33px;
}

.main-header__btn {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../../img/main-header__btn.svg");
  display: none;
}

@media screen and (max-width: 1000px) {
  .main-header__logo {
    margin-right: 40px;
    width: 236px;
  }
}
@media screen and (max-width: 733px) {
  .main-header__btn {
    display: inline-block;
  }
  .main-header__nav {
    display: none;
  }
  .main-header__logo {
    width: 163px;
  }
}
.hero__container {
  margin-bottom: 136px;
  padding: 117px 0;
  background-image: url("../../img/hero__bi.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.hero__content {
  padding-left: 85px;
}

.hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  max-width: 493px;
  margin-bottom: 32px;
  color: #FEFCF7;
}

.hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 417px;
  margin-bottom: 56px;
  color: #FEFCF7;
  opacity: 0.8;
}

.hero__btn {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  padding: 15px 31px;
  background: #0E8784;
  border-radius: 6px;
}

@media screen and (max-width: 900px) {
  .hero__container {
    background-image: url("../../img/hero__bi-media.svg");
  }
  .hero__title {
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
    margin-bottom: 24px;
  }
  .hero__text {
    max-width: 372px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 610px) {
  .hero__container {
    background-image: url("../../img/hero__bi-tel.svg");
  }
  .hero__title {
    max-width: 279px;
    font-size: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .hero__text {
    max-width: 279px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
    margin-bottom: 39px;
  }
  .hero__content {
    text-align: center;
    margin: 0 auto;
    padding: 0 24px;
  }
}
#collection {
  padding-bottom: 200px;
}

.collection__list {
  max-width: 1111px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("../../img/collection.svg");
  justify-content: space-between;
  padding-top: 126px;
  margin: 0 auto;
  gap: 30px;
  background-size: contain;
}

.collection__items {
  max-width: 255px;
  text-align: center;
}

.collection__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-top: 71px;
  margin-bottom: 24px;
  color: #333D4B;
}

.collection__item-text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@media screen and (max-width: 1050px) {
  .collection__list {
    flex-direction: column;
    padding-top: 90px;
  }
  .collection__items {
    max-width: 573px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .collection__items-img {
    max-width: 255px;
  }
  .collection__content-block {
    max-width: 282px;
  }
}
@media screen and (max-width: 740px) {
  .collection__list {
    flex-direction: column;
    background-image: url("../../img/collection_responsive.svg");
    max-width: 740px;
    background-size: contain;
    padding-top: 90px;
    gap: 48px;
  }
  .collection__items {
    text-align: center;
    display: block;
  }
  .collection__items-img {
    max-width: 200px;
    margin: 0 auto;
  }
  .collection__content-block {
    max-width: 282px;
  }
  .collection__item-title {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}
#choose {
  margin-bottom: 200px;
}

.choose__content {
  max-width: 1280px;
  background: #2C343E;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 86px;
  position: relative;
}

.choose__list-theme {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: #2C343E;
  border-radius: 10px;
  z-index: -1;
}

.choose__title {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  max-width: 329px;
  padding-bottom: 32px;
  margin: 0 auto;
  color: #FEFCF7;
}

.choose__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  max-width: 540px;
  color: #FEFCF7;
  opacity: 0.8;
}

.choose__list {
  display: flex;
  gap: 30px;
  max-width: 1110px;
  margin: 0 auto;
}

.choose__item {
  background: #0E8784;
  border-radius: 8px;
  max-width: 350px;
  padding: 72px 48px 48px 47px;
  text-align: center;
}
.choose__item::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-image: url("../../img/choose_shape.svg");
  margin-bottom: 56px;
}

.choose__item-content {
  max-width: 255px;
  margin: 0 auto;
}

.choose__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.choose__item-text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

@media screen and (max-width: 1390px) {
  .choose__list {
    max-width: 90%;
  }
}
@media screen and (max-width: 1310px) {
  .choose__list {
    align-items: center;
    flex-direction: column;
  }
  .choose__item {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    padding: 41px 48px 41px 70px;
  }
  .choose__item::before {
    flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__list-theme {
    height: 451px;
  }
  .choose__item-content {
    margin-left: 56px;
  }
}
@media screen and (max-width: 730px) {
  .choose__item {
    flex-direction: column;
    padding: 72px 48px 48px 47px;
    text-align: center;
  }
  .choose__item::before {
    margin-bottom: 56px;
  }
  .choose__item-content {
    margin-left: 0;
    margin: 0 auto;
  }
  .choose__text {
    padding: 0 20px;
  }
  .choose__title {
    padding: 0 20px;
  }
  .choose__list-theme {
    height: 751px;
  }
}
#work {
  margin-bottom: 200px;
}

.work__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 80px;
  color: #83888F;
}

.work__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 791px;
  height: 2px;
  background-color: #FDD6BA;
  margin-bottom: 82px;
}
.work__line span {
  display: block;
  width: 31px;
  height: 31px;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.work__list {
  display: flex;
  align-items: center;
  gap: 95px;
  margin-bottom: 64px;
}

.work__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 42px;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  color: #333D4B;
}
.work__item-title::before {
  content: "01";
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 38px;
  color: #FDD6BA;
}

.work__item-text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 255px;
  color: #333D4B;
}

.work__btn {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 16px 31px;
}

@media screen and (max-width: 1135px) {
  .work__title {
    margin-bottom: 40px;
  }
  .work__line {
    max-width: 467px;
    margin-bottom: 62px;
  }
  .work__list {
    gap: 10px;
  }
  .work__item-title {
    font-size: 28px;
    line-height: 32px;
    max-width: 223px;
    margin-bottom: 38px;
  }
  .work__item-title::before {
    margin-bottom: 42px;
  }
  .work__item-text {
    max-width: 223px;
  }
}
@media screen and (max-width: 770px) {
  .work__title {
    text-align: center;
  }
  .work__btn {
    margin: 0 auto;
  }
  .work__line {
    display: none;
  }
  .work__list {
    flex-direction: column;
  }
  .work__item-text {
    text-align: center;
    max-width: 327px;
  }
  .work__item-title {
    max-width: 327px;
    text-align: center;
    margin-bottom: 24px;
  }
  .work__item-title::before {
    margin-top: 24px;
  }
  .work__btn {
    text-align: right;
  }
  .work__btn-container {
    text-align: center;
  }
}
#footer {
  background: #2C343E;
  padding: 48px 0;
}

.footer__container {
  max-width: 1109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text-item + .footer__text-item {
  padding-left: 31px;
}

.footer__text-list {
  display: flex;
  width: 283px;
  align-items: center;
}

.footer__item-text {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer__img-list {
  display: flex;
  align-items: center;
}

.footer__img-item + .footer__img-item {
  padding-left: 24px;
}

@media screen and (max-width: 950px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__img {
    margin-bottom: 32px;
  }
  .footer__text-list {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 450px) {
  .footer__img {
    margin-bottom: 48px;
  }
  .footer__text-list {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }
}
#about-header {
  padding: 44px 0;
}

.about-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-header__logo {
  width: 245px;
}

.about-header__list {
  display: flex;
}

.about-header__link {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.about-header__item + .about-header__item {
  padding-left: 33px;
}

.about-header__btn {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../../img/main-header__btn.svg");
  display: none;
}

@media screen and (max-width: 1000px) {
  .about-header__logo {
    margin-right: 40px;
    width: 236px;
  }
}
@media screen and (max-width: 733px) {
  .about-header__btn {
    display: inline-block;
  }
  .about-header__nav {
    display: none;
  }
  .about-header__logo {
    width: 163px;
  }
}
#about-hero {
  margin-bottom: 168px;
}

.about-hero__container {
  background-image: url("../../../img/about_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1280px;
  padding: 137px 0;
  border-radius: 6px;
}

.about-hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
  color: #FEFCF7;
}

.about-hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.about-hero__content {
  padding-left: 85px;
  max-width: 445px;
}

@media screen and (max-width: 1020px) {
  .about-hero__container {
    background-image: url("../../../img/about_hero-res.jpg");
    margin: 0 39px;
  }
  .about-hero__content {
    padding-left: 58px;
    max-width: 398px;
  }
  .about-hero__title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media screen and (max-width: 700px) {
  .about-hero__container {
    background-image: url("../../../img/about_hero-tel.jpg");
    background-position: right;
  }
  .about-hero__title {
    font-size: 28px;
    line-height: 28px;
  }
  .about-hero__content {
    padding-left: 0;
    max-width: 279px;
    text-align: center;
    margin: 0 auto;
  }
}
#about-our {
  padding-bottom: 168px;
}

.about-our__content-block {
  max-width: 540px;
}

.about-our__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
}

.about-our__img-block {
  max-width: 445px;
  margin-right: 125px;
}

.about-our__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 32px;
  color: #333D4B;
}

.about-our__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

@media screen and (max-width: 1120px) {
  .about-our__img-block {
    max-width: 281px;
    flex-shrink: 0;
  }
  .about-our__content-block {
    max-width: 339px;
  }
  .about-our__title {
    padding-bottom: 30px;
    font-size: 32px;
    line-height: 48px;
  }
  .about-our__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media screen and (max-width: 770px) {
  .about-our__container {
    flex-direction: column;
    align-items: center;
  }
  .about-our__img-block {
    max-width: 327px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .about-our__content-block {
    max-width: 327px;
    text-align: center;
  }
}
#about-headquarters {
  padding-bottom: 168px;
}

.about-headquarters__container {
  max-width: 1045px;
}

.about-headquarters__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 72px;
  color: #83888F;
}

.about-headquarters__item-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 24px;
  color: #333D4B;
}

.about-headquarters__item-img {
  max-width: 40px;
  padding-bottom: 45px;
}

.about-headquarters__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.about-headquarters__list {
  display: flex;
  align-items: center;
  gap: 95px;
}

@media screen and (max-width: 850px) {
  .about-headquarters__container {
    max-width: 688px;
  }
  .about-headquarters__list {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .about-headquarters__item-title {
    font-size: 24px;
    padding-bottom: 21px;
  }
}
@media screen and (max-width: 550px) {
  .about-headquarters__title {
    text-align: center;
  }
  .about-headquarters__list {
    flex-direction: column;
    align-items: start;
    gap: 80px;
  }
}/*# sourceMappingURL=main.css.map */